body, html {
    height: 100vh;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 4% 24% 24% 24% 24%;
    grid-template-areas: 
    "header header header header"
    "sect1 sect2 sect3 sect4"
    "sect5 sect6 sect7 sect8"
    "sect9 sect10 sect11 sect12"
    "sect13 sect14 sect15 sect16";
}

header {
    grid-area: header;
    background-color:whitesmoke;
}

section:nth-of-type(1){
    grid-area:sect1;
    background-color: magenta;
    }

section:nth-of-type(2){
        grid-area:sect2;
        background-color: aqua;
        }
section:nth-of-type(3){
            grid-area:sect3;
            background-color: blueviolet;
            }

section:nth-of-type(4){
            grid-area:sect4;
                background-color: chartreuse;
                }

section:nth-of-type(5){
            grid-area:sect5;
                background-color: crimson;
                        }

section:nth-of-type(6){
            grid-area:sect6;
            background-color: coral;
                                        }

section:nth-of-type(7){
            grid-area:sect7;
            background-color: cornflowerblue;
            }

section:nth-of-type(8){
            grid-area:sect8;
            background-color: darkgoldenrod;
            }

section:nth-of-type(9){
                grid-area:sect9;
                    background-color: darkred;
                            }
    
section:nth-of-type(10){
                grid-area:sect10;
                background-color:forestgreen;
                                            }
    
section:nth-of-type(11){
                grid-area:sect11;
                background-color: firebrick;
                }
    
section:nth-of-type(12){
                grid-area:sect12;
                background-color: greenyellow;
                }

section:nth-of-type(13){
                    grid-area:sect13;
                        background-color: hotpink;
                                }
        
section:nth-of-type(14){
                    grid-area:sect14;
                    background-color:indigo;
                                                }
        
section:nth-of-type(15){
                    grid-area:sect15;
                    background-color: khaki;
                    }
        
section:nth-of-type(16){
                    grid-area:sect16;
                    background-color: tomato;
                    }
                    
section:nth-of-type(17){
                        grid-area:sect18;
                            background-color: hotpink;
                                    }
            
section:nth-of-type(19){
                        grid-area:sect19;
                        background-color:indigo;
                                                    }
            
section:nth-of-type(20){
                        grid-area:sect20;
                        background-color: khaki;
                        }
            
section:nth-of-type(21){
                        grid-area:sect21;
                        background-color: tomato;
                        }

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color : white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}
